# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip

# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
terraform.tfstate.backup
crash.log
crash.*.log

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore override files as they are usually used to override resources locally and don't need to be committed
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore environment-specific files
.envrc
.env
